<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="/assets/css/navbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="nav-con">
                <a href="/index.html" class="logo">LOGO</a>
                <ul class="menu">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/assets/pages/about.html">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="/assets/pages/contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>