* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #777;
    padding: .5rem 0;
}

.footer-con {
    text-align: center;
}

.footer-con a {
    color: #fff;
    text-decoration: none;
}